a.add__ons_href__color {
    text-decoration: none !important;
    color: rgb(0, 195, 255) !important;
}

.add__ons__text__white {
    color: white !important;
}

.text__center {
    text-align: center;
}